body {
  margin: 0;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}
h3 {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #222;
  font-weight: 400;
}
.switch {
  cursor: pointer;
  width: 60px;
  height: 34px;
  position: relative;
}
.switch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.switch .slider {
  display: block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}
.switch .slider::before {
  font-family: "FontAwesome";
  content: "\f00d";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  left: 4px;
  top: 4px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #ccc;
}
.switch input:checked + .slider {
  background-color: #2196f3;
}
.switch input:checked + .slider::before {
  content: "\f00c";
  transform: translateX(26px);
  color: #2196f3;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px 0 #2196f3;
}
